body {
    font-family: arial;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 15px 15px;
    background-color: cadetblue;
    height: 100vh;
}

.body-night {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/25/23/15/moon-1859616_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.body-day {
    background-image: url('https://cdn.pixabay.com/photo/2017/03/27/21/38/sunset-2180346_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

input {
    font-size: 1.2rem;
    background: none;
    border: none;
}

input:focus {
    outline: none;
}

.input-day {
    color: black;
    border-bottom: 1px solid black;
}

.input-night {
    color: white;
    border-bottom: 1px solid white;
}

button {
    font-size: 1.5rem;
    background: none;
    border: none;
}

.button-night {
    color: white;
    border: 2px solid white;
}

.button-day {
    color: black;
    border: 2px solid black;
}

h2 {
    font-size: 1.2rem;
}

.wrapper-inside {
    display: flex;
}

.thermometer {
    height: 80vh;
}

.degrees {
    width: 100%;
    background-color: rgba(0, 0, 255, 0.5);
    top: 100%;
    bottom: 0;
    position: absolute;
    transition-duration: 1s;
}

.thermometer__shape {
    height: 100%;
    border: 2px solid black;
    border-radius: 50px;
    width: 4vw;
    position: relative;
    overflow: hidden;
}

.thermometer__radio {
    margin: 0 0;
    height: 100%;
    list-style: none;
    text-align: center;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thermometer__item {
    font-size: 10px;
    display: block;
    width: 100%;
}

.result__weather {
    width: 60vw;
    height: 60vh;
    background-size: contain;
    background-repeat: no-repeat;
}


/* .degrees {} */